<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- Database -->
    <add key="ConnectionString" value="server=RIG;database=risen;uid=josh;Pwd=test" />
    
    <!-- Listener Configuration -->
    <add key="MaxNumberOfConnections" value="3000" />
    <add key="Port" value="4444" />
    <add key="ReceiveBufferSize" value="25" />
    <add key="MaxSimultaneousAcceptOperations" value="10" />
    <add key="Backlog" value="100" />
    <add key="OperationsToPreallocate" value="2" />
    <add key="ExcessSaeaObjectsInPool" value="1" />
    <add key="ReceivePrefixLength" value="4" />
    <add key="SendPrefixLength" value="4" />
    <add key="MainTransmissionId" value="10000" />
    <add key="StartingId" value="0" />
    <add key="MaxSimultaneousClientsThatWereConnected" value="0" />
  </appSettings>
  
</configuration>