<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Database -->
    <add key="ConnectionString" value="server=localhost;database=logging;uid=josh;Pwd=test" />
    
    <!-- Logging -->
    <add key="LogQueue" value=".\PRIVATE$\LogQueue"/>
  </appSettings>
</configuration>